<div class="container mt-1">
  <div class="row">
    <div class="col">
      <a href="#">Promoção de abril</a><br>
      <a href="#">Indique um amigo e ganhe 5 reais</a>
    </div>
    <div class="col">
      <a href="#">Compre agora e ganhe um mordedor</a><br>
      <a href="#">Compre um mordedor e ganhe um Osso</a>
    </div>
  </div>

  <table class="table table-striped mt-1">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mordedor para cachorro</td> 
        <td>R$ 10,00</td>
        <td><button class="btn btn-primary">Comprar</button></td>
      </tr>
      <tr>
        <td>Arranhador</td>
        <td>R$ 4,95</td>
        <td><button class="btn btn-primary">Comprar</button></td>
      </tr>
      <tr>
        <td>Osso</td>
        <td>R$ 2,25</td>
        <td><button class="btn btn-primary">Comprar</button></td>
      </tr>
    </tbody>
  </table>
</div>
